<h2 class="text-center"> Add New Book</h2>
<div class="container form-group">
    <form name="myform" #myform="ngForm" autocomplete="on" novalidate>
        <table class="table table-striped table-bordered table-light">
            <tr>
                <td><label for="bookName"> Book Name </label></td>
                <td>
                    <input type="text" name="bookName" [(ngModel)]="mybook.bookName" #bookName="ngModel" autofocus required class="form-control" />
                    <div *ngIf="bookName.invalid && (bookName.dirty || bookName.touched)">
                        <div *ngIf="bookName.errors.required" class="text-danger"> BookName is Required
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="author"> Author </label></td>
                <td> <input type="text" name="author" [(ngModel)]="mybook.author" #author="ngModel" required class="form-control" />
                    <div *ngIf="author.invalid && (author.dirty || author.touched)">
                        <div *ngIf="author.errors.required" class="text-danger"> Author is Required</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="price"> Price </label></td>
                <td> <input type="text" name="price" [(ngModel)]="mybook.price" #price="ngModel" required class="form-control" />
                    <div *ngIf="price.invalid && (price.dirty || price.touched)">
                        <div *ngIf="price.errors.required" class="text-danger"> Price is Required</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="pub"> Publications </label></td>
                <td> <input type="text" name="pub" [(ngModel)]="mybook.pub" #pub="ngModel" required class="form-control" />
                    <div *ngIf="pub.invalid && (pub.dirty || pub.touched)">
                        <div *ngIf="pub.errors.required" class="text-danger"> Publications is Required</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit" (click)="addNewBook(myform)" [disabled]="! myform.form.valid" class="btn btn-success btn-lg"> <h2> Add Book </h2> </button>
                </td>
            </tr>
        </table>
    </form>
</div>